<div class="table-wrapper">
  <table mat-table [dataSource]="symptoms" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">

    <ng-container matColumnDef="technicalTerm">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> TechnicalTerm </th>
      <td mat-cell *matCellDef="let symptom"> {{symptom.technicalTerm}}</td>
    </ng-container>

    <ng-container matColumnDef="synonym">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Synonym </th>
      <td mat-cell *matCellDef="let symptom"> {{symptom.synonym}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr class="changePointer" mat-row *matRowDef="let row; columns: displayedColumns;" (click)="routeDiagnose(row)"></tr>
  </table>
</div>
