<mat-form-field>
  <mat-chip-list #chiplist>
    <mat-chip
      *ngFor="let tag of tags"
      [selectable]="true"
      [removable]="true"
      (removed)="removeTag(tag)">
      {{tag.name}}
      <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
    </mat-chip>

    <input placeholder="Tags"
           #tagInput
           [formControl]="tagCtrl"
           [matAutocomplete]="auto"
           [matChipInputFor]="chiplist"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]="false"
           (matChipInputTokenEnd)="addTag($event)">
  </mat-chip-list>

  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedTag($event)">
    <mat-option *ngFor="let tag of filteredTags | async" [value]="tag.name">
      {{tag.name}}
    </mat-option>
  </mat-autocomplete>
  <mat-hint align="start"><strong>{{chipListMessage}}</strong> </mat-hint>
</mat-form-field>
