.max-item {
  //max-height: 144px;
}

.example-header-image {
  background-image: url('http://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

a {
  text-decoration: none !important;
  color: #1a1a1a;
}
