.example-card {
  // width: 400px;
}

.example-header-image {
  background-image: url('http://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.patient-size{
  height: 200px;
  width: 200px;
}

a {
  text-decoration: none !important;
  color: #1a1a1a;
}
